<h3><%= @story.title %></h3>
<h4>Story Link: <%= link_to @story.link, @story.link %></h4>
<h4>Category: <%= @story.category %></h4>

<%= form_for [@story, @comment] do |f| %>
	<p>
		<%= f.text_area :post, placeholder: "Add a comment..." %>
	</p>
	<%= f.submit %>
<% end %>

<div>
	<% @story.comments.each do |comment| %>
	<li><strong><%= comment.user.email %></strong> posted: <%= comment.post %></li>
	<% end %>
</div>